<ion-header>
    
  <ion-toolbar>
    <ion-title>{{name}} </ion-title>
            
<ion-button slot='end' class="round"  (click) = "closeDocument()" slot='secondary'>
    <ion-icon name="close"></ion-icon>
</ion-button>

  </ion-toolbar>
  <ion-item slot='end' color="primary">
      <ion-label>
          Дата доставки:
        </ion-label> 
  <ion-datetime 
    displayFormat = "DD MMMM YYYY" min = {{date}}  [(ngModel)]="date" 
      ></ion-datetime>
  </ion-item>
</ion-header>
 
<ion-content>
   
    <ion-list>
        <ion-list-header>Замовлення від покупців</ion-list-header>
        <ion-item>
            <ion-label>Вид продукта</ion-label>
            <ion-select placeholder="Молоко" okText="Вибрати" cancelText="Скасувати" (ionChange)="onChange($event)">
                <ion-select-option *ngFor="let tPrice of typePrice$" value = {{tPrice.code}}  >{{tPrice?.name}}</ion-select-option>
            </ion-select>
          </ion-item>
            
        <ion-item *ngIf='availabilityProductType'>
            <ion-label>Продукт</ion-label>
            <ion-select multiple="true" [interfaceOptions]="customOptions"  cancelText="Скасувати" okText="Добавить" (ionChange)="addTovarinPrice($event)">
              <ion-select-option *ngFor="let price of price$" min-width="100%">{{price["tov-nam"]}}</ion-select-option>
            </ion-select>
            
          </ion-item>

          <ion-item *ngIf='!availabilityProductType'>
              <ion-label>На данний момент товар данного типу відсутній</ion-label>
          </ion-item>

   
      </ion-list>

      <ngx-datatable 
      [ngClass]="tablestyle" 
      [rows] = "addPrice$"
      [columnMode]="ColumnMode.flex"
      [headerHeight]="50" 
      [rowHeight]="'auto'" 
      >
      <ngx-datatable-column [flexGrow] = "1"
      [width]="25"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false"
    >
      <ng-template let-row="row"  ngx-datatable-cell-template>
          <a
          href="javascript:void(0)"
          title="Видалити"
          (click)="deleteRow(row)"
        >
        <ion-icon name="trash" 
        slot='start'  ></ion-icon>
        </a>
      </ng-template>
    </ngx-datatable-column>
    
        <ngx-datatable-column name="Товар" prop="tov-nam" [flexGrow] = "5"></ngx-datatable-column>
        <ngx-datatable-column name="Кількість" prop='count' [flexGrow] = "2">
            <ng-template let-value="value" let-row="row"  ngx-datatable-cell-template>
                <span>
                  <ion-input type="number" value={{value}} (ionChange)='onSelectBlue($event, row)'></ion-input>
                </span>
              </ng-template>
            </ngx-datatable-column>
        <ngx-datatable-column name="Цінна"  prop='cena' [flexGrow] = "2"></ngx-datatable-column>
        <ngx-datatable-column name="Сумма"  prop='amount' [flexGrow] = "2"></ngx-datatable-column>
        
           
      </ngx-datatable>

    
      

</ion-content>




<ion-footer>
    <ion-button  (click) = "createOrder()" slot='end'>
        Відправити заказ
    </ion-button>
</ion-footer>
