<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Оформлені документи</ion-title>
    <ion-item slot='end' color="primary">
        <ion-datetime [pickerOptions]="customPickerOption" displayFormat = "DD MMMM YYYY" 
        [(ngModel)]="Date" placeholder="Дата"  min="2015"></ion-datetime>
    </ion-item>
  </ion-toolbar>
  
  

</ion-header>

<ion-content>

</ion-content>
і