<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>{{user.fullName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" (click)= "getDocument()">Оформлені Документи</ion-button>
  <ion-button expand="full" (click) = "getPoint(obj)" > Мої торгові точки</ion-button>
  <ion-button expand="full" (clic)= "loadSpecialInfo()">Контакти</ion-button>
  <ion-button expand="full" (clic)= "Cleartoken()">Памятка торгового представника</ion-button>
  <ion-button expand="full" (clic)= "Cleartoken()">Настройки</ion-button>
  <ion-progress-bar *ngIf='!domloading' type="indeterminate"></ion-progress-bar>
</ion-content>
 
   

 
    