<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>{{user.fullName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" (clic)= "loadSpecialInfo()">Маршрут на сьогодні</ion-button>
  <ion-button expand="full" (click) = "getPoint()" > Мої торгові точки</ion-button>
  <ion-progress-bar *ngIf='!domloading' type="indeterminate"></ion-progress-bar>
</ion-content>
 
   

 
    