<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Авторізація</ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">

      

      <ion-item>
          <ion-label position="floating">Логін</ion-label>
          <ion-input type="Email" formControlName="username" ></ion-input> 
      </ion-item> 

      <ion-item>
          <ion-label position="floating">Пароль</ion-label>
          <ion-input type="password" formControlName="password" ></ion-input> 
      </ion-item> 
  
      <ion-button expand='full' type="submit" [disabled]="!credentialsForm.valid">Авторізація</ion-button>
           
  </form>
 
  
</ion-content>


 