<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Торгові точки</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content >


    <ion-virtual-scroll 	 [items]="data" [approxItemHeight]="'88px'">
        <ion-item lines="full"  *virtualItem="let item" >
             <ion-label>
          <h3>{{item.name}}</h3>  
        </ion-label>
           
        <ion-icon name="alert" class="iconPoints" (click)="info(item)" ></ion-icon>
        <ion-icon name="create"  (click)="create(item)" ></ion-icon>
      
        </ion-item>
      </ion-virtual-scroll>

  </ion-content>