<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Торгові точки</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>


    <ion-virtual-scroll [items]="data" [approxItemHeight]="'88px'">
        <ion-item *virtualItem="let item">
          <ion-label>
          <h3>{{item.namePoint}}</h3>  
        </ion-label>
        <ion-label slot='end'>
            {{item.address}}
          </ion-label>
        </ion-item>
      </ion-virtual-scroll>

  </ion-content>