<ion-header>
    
  <ion-toolbar>
    <ion-title> {{client}}</ion-title>
    <ion-item>Замовлення від:  {{date | date: "dd.MM.yyyy" }}</ion-item>          
    <ion-button class="round"  (click) = "closeDocument()" slot='secondary'>
      <ion-icon name="close"></ion-icon>
  </ion-button>
  </ion-toolbar>
</ion-header>
 
<ion-content>
    <ngx-datatable 
    [ngClass]="tablestyle" 
    [rows]="document"
    [columnMode]="ColumnMode.flex"
    [headerHeight]="50" 
    [rowHeight]="'auto'" 
    [rowClass]="getRowClass.bind(this)">

      <ngx-datatable-column name="№" prop="number" [flexGrow] = "1" ></ngx-datatable-column>
      <ngx-datatable-column name="Товар" prop="sku" [flexGrow] = "5"></ngx-datatable-column>
      <ngx-datatable-column name="Кількість" prop="quantity" [flexGrow] = "2"></ngx-datatable-column>
      <ngx-datatable-column name="Цінна" prop="price" [flexGrow] = "2"></ngx-datatable-column>
      <ngx-datatable-column name="Сумма" prop="summa" [flexGrow] = "2"></ngx-datatable-column>
      
         
    </ngx-datatable>

</ion-content>




<ion-footer>
  <ion-toolbar color='primary'>
      <ion-item color='primary'>Загальна Сумма: {{summa}}</ion-item>
      <ion-item color='primary'>Позицій: {{kl}}</ion-item>          
  </ion-toolbar>
</ion-footer>
